main {
    min-height: calc(100vh - 160px);
  }


  img { 
        max-height: 10rem;
    object-fit: cover;
  }

  .card-text { 
    max-height: 200px
  }

  .error { 
    color: red;
    display: none;
  }